
img {
    width: 180px;
    height: 180px;
    border-radius: 20px;
}
.main {
    margin: auto;
    width: 620px;
    background: rgb(250, 230, 205);
    border-radius: 15px;
   
    
}

.row {
    display: flex;
    margin: 10px;
    width: 600px;
    height: 200px;

}

.item {
    margin: 10px;
    width: 180px;
    height: 180px;
    background-color: red;
    border-radius: 20px;
}

.detail-image {
    margin: auto;
    width: 600px;
    height: 600px;
    
}
.one-image {
    width: 600px;
    height: 600px;
}
.name {
    font-family: Arial, Helvetica, sans-serif;
}

.description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4;
}